<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SirThaddeus.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C31CE5BB1C5ACB5E00B5B348</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C31CE5D41C5ACB5F00B5B348</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C31CE5DF1C5ACB5F00B5B348</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
